body {
	background: url("../images/background.jpg");
	background-size: cover;
	font-family: 'Ubuntu', sans-serif;
}

.page {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.page-header {
	width: 100%;
	height: 58px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: rgba(0, 0, 0, 0.4);
	margin-bottom: 54px;
}

.go-to-main {
	text-decoration: none;
	font-weight: 700;
	font-size: 22px;
	line-height: 22px;
	text-transform: uppercase;
	color: #FFFFFF;
	margin-left: 79px;
}

.go-to-main:hover {
	font-size: 20px;
	line-height: 20px;
	color: #3CB878;
}

.header-menu {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 25px;
	margin-right: 80px;
}

.header-menu-item{
	font-weight: 400;
	font-size: 14px;
	line-height: 14px;
	color: #FFFFFF;
}

.header-menu-item:last-child::before {
	content: "|";
	width: 1px;
	height: 19px;
	background: rgba(255, 255, 255, 0.9);
	margin-right: 25px;
}

.header-menu-link {
	text-decoration: none;
	font-weight: 400;
	font-size: 14px;
	line-height: 14px;
	color: #FFFFFF;
}

.header-menu-link:hover {
	color: #3CB878;
}

.header-menu-icon {
	fill: #FFFFFF;
	display: block;
}

.header-menu-link:hover .header-menu-icon {
	fill: #3CB878;
}

.page-content {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

.pop-up {
	width: 446px;
	height: 584px;
	padding: 31px 60px 38px 60px;
	background: #FFFFFF;
	box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
	position: relative;
}

.pop-up-options {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 15px;
}


.sign-up {
	font-weight: 400;
	font-size: 20px;
	line-height: 20px;
	color: #434343;
	margin: 0;
}

.sign-up::before {
	content: "";
	display: block;
	width: 18px;
	height: 18px;
	left: 0;
	background: #3CB878;
	position: absolute;
} 

.log-in {
	text-decoration: none;
	font-weight: 400;
	font-size: 14px;
	line-height: 14px;
	color: #3CB878;
}

.social-media-options {
	display: flex;
	justify-items: space-between;
	gap: 7px;
}

.social-media {
	text-decoration: none;
	width: 160px;
	height: 48px;
	font-weight: 400;
	font-size: 16px;
	line-height: 16px;
	text-align: center;
	color: #FFFFFF;
	border-radius: 5px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.social-media:first-child {
	background: #305DB8;
	padding: 12px 22px 12px 16px;
}

.social-media:first-child::before {
	content: url(../images/facebook.svg);
}

.social-media:first-child:hover {
	background: #022263;
}

.social-media:last-child {
	background: #DF4A32;
	padding: 14px 27px 14px 16px;
}

.social-media:last-child::before {
	content: url(../images/google.svg);
}

.social-media:last-child:hover {
	background: #AB1F09;
}

.or {
	font-weight: 400;
	font-size: 14px;
	line-height: 14px;
	color: #848484;
	width: 100%;
	text-align: center;
	position: relative;
}

.or::before {
	content: "";
	display: block;
	position: absolute;
	left: 0;
	top: 50%;
	width: 152px;
	height: 0px;
	border: 1px solid #F2F2F2;
}

.or::after {
	content: "";
	display: block;
	position: absolute;
	right: 0;
	top: 50%;
	width: 152px;
	height: 0px;
	border: 1px solid #F2F2F2;
}

.registration-field {
	width: 324px;
	height: 44px;
	border: 1px solid #F2F2F2;
	border-radius: 4px;
	padding: 14px 20px 16px 20px;
	cursor: pointer;
}

.registration-field:not(:first-child) {
	margin-top: 15px;
}

.registration-field:focus {
	box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
	outline: none;
}


.checkbox-for-therms {
	margin: 12px 11px 24px 0;
	cursor: pointer;
}

.checkbox-for-therms-label {
	font-weight: 400;
	font-size: 14px;
	line-height: 14px;
	color: #434343;
	margin-bottom: 24px;
	cursor: pointer;
}

.terms-conditions {
	text-decoration: none;
	font-weight: 400;
	font-size: 14px;
	line-height: 14px;
	color: #3CB878;
}

.create-account {
	width: 324px;
	height: 46px;
	background: rgba(60, 184, 120, 0.8);
	border: none;
	border-radius: 4px;
	font-weight: 400;
	font-size: 16px;
	line-height: 16px;
	color: #FFFFFF;
	cursor: pointer;
}

.create-account:focus {
	background: #01813F;
	border-radius: 4px;
}